# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# OS / Editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & Sync temporaries
*.log
*.tmp
